.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSGbovXtYS-I8yzovSqCz550K2_6SdFZNDVLw&usqp=CAU');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.head {
  font-size: 90px;
  color: red;
  padding-top: 6rem;
  padding-bottom: 9rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.head2 {
  color: aliceblue;
  padding-bottom: 8rem;
  font-size: 50px;
}

.drop {
  padding-bottom: 10rem;
}

.hotelName {
  font-size: 65px;
  color: deeppink;
}

.hotelCity {
  font-size: 35px;
  color: forestgreen;
}

.hotelStreet {
  font-size: 20px;
  color: grey;
}

.rating {
  border: 1px solid green;
  padding: 3px;
  background-color: green;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}
